@charset "ISO-8859-1";
body {
    background-color: #f0f0f0;
    color: #333333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #444444;
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fafafa;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden; 
}

th, td {
    border: 1px solid #dddddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #555555;
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.btn-link {
    color: #ffffff;
    background-color: #444444;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin: 5px 0;
}

.btn-link:hover {
    background-color: #555555;
    text-decoration: none;
    cursor: pointer;
}

button.btn-danger {
    background-color: #dc3545;
    color: #ffffff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.btn-danger:hover {
    background-color: #c82333;
    cursor: pointer;
}

.text {
    font-size: 16px;
    color: #666666;
    text-align: center;
}

.mt-5 {
    margin-top: 40px;
}
.mb-3 {
    margin-bottom: 20px;
}

/* AGREGO */
.user-details p {
    font-size: 16px;
    color: #666666;
    margin-bottom: 10px;
}

.user-details strong {
    color: #444444;
}

button.btn-danger {
    background-color: #dc3545;
    color: #ffffff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
}

button.btn-danger:hover {
    background-color: #c82333;
}
